In [49]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [50]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [51]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [53]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [54]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [55]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['time']=encoder.fit_transform(df['time'])

In [56]:
df.time.unique()

array([0, 1])

In [57]:
x=df.drop(labels=['time'],axis=1)
x.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [58]:
y=df.time
y.head()

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int32

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=12)

In [60]:
x_train.head()

     total_bill   tip     sex smoker   day  size
135        8.51  1.25  Female     No  Thur     2
149        7.51  2.00    Male     No  Thur     2
124       12.48  2.52  Female     No  Thur     2
29        19.65  3.00  Female     No   Sat     2
231       15.69  3.00    Male    Yes   Sat     3

In [61]:
df.select_dtypes

<bound method DataFrame.select_dtypes of      total_bill   tip     sex smoker   day  time  size
0         16.99  1.01  Female     No   Sun     0     2
1         10.34  1.66    Male     No   Sun     0     3
2         21.01  3.50    Male     No   Sun     0     3
3         23.68  3.31    Male     No   Sun     0     2
4         24.59  3.61  Female     No   Sun     0     4
..          ...   ...     ...    ...   ...   ...   ...
239       29.03  5.92    Male     No   Sat     0     3
240       27.18  2.00  Female    Yes   Sat     0     2
241       22.67  2.00    Male    Yes   Sat     0     2
242       17.82  1.75    Male     No   Sat     0     2
243       18.78  3.00  Female     No  Thur     0     2

[244 rows x 7 columns]>

In [62]:
categorical_cols=['sex','smoker','day']
numerical_cols=['total_bill','tip','size']

In [63]:
cat_clms=df.select_dtypes('category')
cat_clms

        sex smoker   day
0    Female     No   Sun
1      Male     No   Sun
2      Male     No   Sun
3      Male     No   Sun
4    Female     No   Sun
..      ...    ...   ...
239    Male     No   Sat
240  Female    Yes   Sat
241    Male    Yes   Sat
242    Male     No   Sat
243  Female     No  Thur

[244 rows x 3 columns]

In [64]:
x_train.head()

     total_bill   tip     sex smoker   day  size
135        8.51  1.25  Female     No  Thur     2
149        7.51  2.00    Male     No  Thur     2
124       12.48  2.52  Female     No  Thur     2
29        19.65  3.00  Female     No   Sat     2
231       15.69  3.00    Male    Yes   Sat     3

In [65]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer([('onehotencoder', OneHotEncoder(), categorical_cols),
                                  ('standardscaler', StandardScaler(),numerical_cols)])

In [66]:
x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [70]:
model=RandomForestClassifier(n_estimators=200)

In [71]:
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=200)

In [72]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0])

In [75]:
from sklearn.metrics import accuracy_score

In [76]:
accuracy_score(y_test,y_pred)

0.9183673469387755

In [77]:
model.classes_

array([0, 1])

In [78]:
model.n_features_in_

11

In [79]:
#hyper paramter tuning
params={'max_depth':[3,5,10,None],
        'n_estimators':[100,200,300],
        'criterion':['gini','entrophy']
        }

In [80]:
classifier=RandomForestClassifier()

In [81]:
from sklearn.model_selection import RandomizedSearchCV
cv=RandomizedSearchCV(classifier,param_distributions=params,scoring='accuracy',cv=5,verbose=3)

In [82]:
cv.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 1/5] END criterion=entrophy, max_depth=5, n_estimators=200;, score=nan total time=   0.0s
[CV 2/5] END criterion=entrophy, max_depth=5, n_estimators=200;, score=nan total time=   0.0s
[CV 3/5] END criterion=entrophy, max_depth=5, n_estimators=200;, score=nan total time=   0.0s
[CV 4/5] END criterion=entrophy, max_depth=5, n_estimators=200;, score=nan total time=   0.0s
[CV 5/5] END criterion=entrophy, max_depth=5, n_estimators=200;, score=nan total time=   0.0s
[CV 1/5] END criterion=entrophy, max_depth=None, n_estimators=200;, score=nan total time=   0.0s
[CV 2/5] END criterion=entrophy, max_depth=None, n_estimators=200;, score=nan total time=   0.0s
[CV 3/5] END criterion=entrophy, max_depth=None, n_estimators=200;, score=nan total time=   0.0s
[CV 4/5] END criterion=entrophy, max_depth=None, n_estimators=200;, score=nan total time=   0.0s
[CV 5/5] END criterion=entrophy, max_depth=None, n_estimators=200;, score=nan total time=   0.0s
[CV 1/5] END criterion=gini, max_depth=10, n_estimators=200;, score=0.949 total time=   0.1s
[CV 2/5] END criterion=gini, max_depth=10, n_estimators=200;, score=0.897 total time=   0.1s
[CV 3/5] END criterion=gini, max_depth=10, n_estimators=200;, score=0.974 total time=   0.1s
[CV 4/5] END criterion=gini, max_depth=10, n_estimators=200;, score=1.000 total time=   0.1s
[CV 5/5] END criterion=gini, max_depth=10, n_estimators=200;, score=0.974 total time=   0.1s
[CV 1/5] END criterion=gini, max_depth=3, n_estimators=300;, score=0.949 total time=   0.2s
[CV 2/5] END criterion=gini, max_depth=3, n_estimators=300;, score=0.923 total time=   0.2s
[CV 3/5] END criterion=gini, max_depth=3, n_estimators=300;, score=1.000 total time=   0.2s
[CV 4/5] END criterion=gini, max_depth=3, n_estimators=300;, score=1.000 total time=   0.3s
[CV 5/5] END criterion=gini, max_depth=3, n_estimators=300;, score=1.000 total time=   0.3s
[CV 1/5] END criterion=gini, max_depth=5, n_estimators=200;, score=0.949 total time=   0.1s
[CV 2/5] END criterion=gini, max_depth=5, n_estimators=200;, score=0.923 total time=   0.2s
[CV 3/5] END criterion=gini, max_depth=5, n_estimators=200;, score=0.974 total time=   0.2s
[CV 4/5] END criterion=gini, max_depth=5, n_estimators=200;, score=1.000 total time=   0.2s
[CV 5/5] END criterion=gini, max_depth=5, n_estimators=200;, score=0.974 total time=   0.1s
[CV 1/5] END criterion=entrophy, max_depth=5, n_estimators=300;, score=nan total time=   0.0s
[CV 2/5] END criterion=entrophy, max_depth=5, n_estimators=300;, score=nan total time=   0.0s
[CV 3/5] END criterion=entrophy, max_depth=5, n_estimators=300;, score=nan total time=   0.0s
[CV 4/5] END criterion=entrophy, max_depth=5, n_estimators=300;, score=nan total time=   0.0s
[CV 5/5] END criterion=entrophy, max_depth=5, n_estimators=300;, score=nan total time=   0.0s
[CV 1/5] END criterion=entrophy, max_depth=3, n_estimators=200;, score=nan total time=   0.0s
[CV 2/5] END criterion=entrophy, max_depth=3, n_estimators=200;, score=nan total time=   0.0s
[CV 3/5] END criterion=entrophy, max_depth=3, n_estimators=200;, score=nan total time=   0.0s
[CV 4/5] END criterion=entrophy, max_depth=3, n_estimators=200;, score=nan total time=   0.0s
[CV 5/5] END criterion=entrophy, max_depth=3, n_estimators=200;, score=nan total time=   0.0s
[CV 1/5] END criterion=entrophy, max_depth=10, n_estimators=300;, score=nan total time=   0.0s
[CV 2/5] END criterion=entrophy, max_depth=10, n_estimators=300;, score=nan total time=   0.0s
[CV 3/5] END criterion=entrophy, max_depth=10, n_estimators=300;, score=nan total time=   0.0s
[CV 4/5] END criterion=entrophy, max_depth=10, n_estimators=300;, score=nan total time=   0.0s
[CV 5/5] END criterion=entrophy, max_depth=10, n_estimators=300;, score=nan total time=   0.0s
[CV 1/5] END criterion=entrophy, max_depth=3, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END criterion=entrophy, max_depth=3, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END criterion=entrophy, max_depth=3, n_estimators=100;, score=nan total time=   0.0s
[CV 4/5] END criterion=entrophy, max_depth=3, n_estimators=100;, score=nan total time=   0.0s
[CV 5/5] END criterion=entrophy, max_depth=3, n_estimators=100;, score=nan total time=   0.0s
[CV 1/5] END criterion=gini, max_depth=None, n_estimators=300;, score=0.949 total time=   0.2s
[CV 2/5] END criterion=gini, max_depth=None, n_estimators=300;, score=0.897 total time=   0.2s
[CV 3/5] END criterion=gini, max_depth=None, n_estimators=300;, score=0.974 total time=   0.2s
[CV 4/5] END criterion=gini, max_depth=None, n_estimators=300;, score=1.000 total time=   0.2s
[CV 5/5] END criterion=gini, max_depth=None, n_estimators=300;, score=0.974 total time=   0.2s

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ['gini', 'entrophy'],
                                        'max_depth': [3, 5, 10, None],
                                        'n_estimators': [100, 200, 300]},
                   scoring='accuracy', verbose=3)

In [83]:
cv.best_params_

{'n_estimators': 300, 'max_depth': 3, 'criterion': 'gini'}

In [84]:
y_p=cv.predict(x_test)

In [85]:
accuracy_score(y_test,y_p)

0.9387755102040817

In [86]:
cv.predict(x_test[[0]])

array([0])